
<div class="container-fluid mt-5">
    <div class="row">

        <div class="col-md-1 d-none d-lg-block">
            <img src="~/Content/images/left-cloud.jpg" class="left-cloud .d-sm-none .d-md-block" alt="Alternate Text" />
        </div>

        <div class="col-md-10">
            


        </div>

        <div class="col-md-1 d-none d-lg-block">
            <img src="~/Content/images/right-cloud.jpg" class="right-cloud .d-sm-none .d-md-block"alt="Alternate Text" />
        </div>

    </div>
</div>
