
<div class="container-fluid mt-5">
    <div class="row">

        <div class="col-md-1 d-none d-lg-block">
            <img src="~/Content/images/left-cloud.jpg" class="left-cloud .d-sm-none .d-md-block" alt="Alternate Text" />
        </div>

        <div class="col-md-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-carousel" data-flickity='{ "wrapAround": true, "initialIndex": 1, "cellAlign": "center", "pageDots": false}'>
                            <div class="carousel-cell text-center">
                                <img src="~/Content/images/product-02.jpg" alt="Alternate Text" />
                                <h1 class="carousel-caption-heading mt-5">Flexitol Foot Foam</h1>
                                <p class="carousel-caption-subheading">Highly effective foot foam</p>
                                <p class="text-center mt-5"><a href="#" role="button" class="btn submit-btn">Learn more</a></p>
                            </div>
                            <div class="carousel-cell text-center">
                                <img src="~/Content/images/product-01.jpg" alt="Alternate Text" />
                                <h1 class="carousel-caption-heading mt-5">Flexitol Heel Balm</h1>
                                <p class="carousel-caption-subheading ">Highly effetive medically proven treatment</p>
                                <p class="text-center mt-5"><a href="#" role="button" class="btn submit-btn">Learn more</a></p>
                            </div>
                            <div class="carousel-cell text-center">
                                <img src="~/Content/images/product-03.jpg" alt="Alternate Text" />
                                <h1 class="carousel-caption-heading mt-5">Flexitol Foot Cream</h1>
                                <p class="carousel-caption-subheading">Highly effective foot cream</p>
                                <p class="text-center mt-5"><a href="#" role="button" class="btn submit-btn">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-1 d-none d-lg-block">
            <img src="~/Content/images/right-cloud.jpg" class="right-cloud .d-sm-none .d-md-block" alt="Alternate Text" />
        </div>

    </div>
</div>
