
<div class="row second-row">
    <div class="col-md-12 text-center its-your-turn">
        <p>It's your turn to be pampered.</p>
        <p>Enter our competition to win a luxury spa day!</p>
    </div>
</div>
