

    <div class="container-fluid">

        <div class="row render-image-background">
            <div class="col-md-12">
                <img src="~/Content/images/salon-logo.svg" class="float-right salon-logo img-fluid" alt="Salon professionals logo" />
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="introducing-medi-pedi">Introducing the new Flexitol Medi Pedi regime</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center first-step-towards">
                <p>THE FIRST STEP TOWARDS BEAUTIFUL FEET</p>
            </div>
        </div>


        <div class="row">
            <!-- Grey skincare badge -->
            <div class="col-md-12">
                <img src="~/Content/images/no-1-foot-skincare-badge.svg" class="img-fluid mx-auto d-block" alt="Alternate Text" />
            </div>
        </div>
    </div>


