<!-- Background iamge -->
<div class="render-image-background">

    <!-- Salon Logo for top right of banner -->
    <img src="~/Content/images/salon-logo.svg" class="salon-logo img-fluid" alt="Alternate Text" />

    <!-- Introducing the regime, below foot and central -->
    <p class="text-center introducing-medi-pedi">
        Introducing the new 
    </p>
    <p class="text-center introducing-medi-pedi1">
        Flexitol Medi Pedi regime
    </p>
    <p class="text-center first-step-towards">
        THE FIRST STEP TOWARDS BEAUTIFUL FEET
    </p>
</div>