<!-- Background iamge -->


<div class="row">
    <div class="col-md-12">
        <!-- Salon Logo for top right of banner -->
        <img src="~/Content/images/salon-logo.svg" class=" float-right salon-logo img-fluid" alt="Alternate Text" />
    </div>
</div>

<div class="row">
    <!-- Introducing the regime, below foot and central -->
    <div class="col-md-12 text-center introducing-medi-pedi">
        <p>Introducing the new</p>
        <p>Flexitol Medi Pedi regime</p>
    </div>
</div>


<div class="row">
    <div class="col-md-12 text-center first-step-towards">
        <p>THE FIRST STEP TOWARDS BEAUTIFUL FEET</p>
    </div>
</div>


<div class="row">
    <!-- Grey skincare badge -->
    <div class="col-md-12">
        <img src="~/Content/images/no-1-foot-skincare-badge.svg" class="img-fluid mx-auto d-block" alt="Alternate Text" />
    </div>
</div>



