<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-bg">

    <!-- Link to Flexitol Home-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav visit-flexitol">
            <li class="nav-item active">
                <a class="nav-link" href="https://www.flexitol.co.uk/">
                    <span class="visit-flexitol-font"><i class="fas fa-chevron-left"></i>  Visit Flexitol.co.uk</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Navbar Logo (center) -->
    <div class="mx-auto">
        <a class="" href="#">
            <img src="~/Content/images/logo.svg" width="140" height="48" alt="Flexitol Logo">
        </a>
    </div>

    <!-- Collapse Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><img src="~/Content/images/menu.svg" alt="Alternate Text" /></span>
    </button>

    <!-- Social Media Links -->
    <div class="collapse navbar-collapse flex-md-row-reverse" id="navbarSupportedContent">
        <ul class="navbar-nav socials">
            <li class="social-item">
                <a href="#">
                    <img src="~/Content/images/ig.png" alt="Instagram Icon" />
                </a>
            </li>
            <li class="social-item">
                <a href="#">
                    <img src="~/Content/images/facebook.svg" alt="Facebook Icon" />
                </a>
            </li>
            <li class="social-item">
                <a href="#">
                    <img src="~/Content/images/twitter-2.svg" alt="Twitter Icon" />
                </a>
            </li>
        </ul>
    </div>
</nav>