<nav class="navbar navbar-expand-md navbar-light navbar-bg">
    <!-- Collapse Button for small devices-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="https://www.flexitol.co.uk/"><span class="visit-flexitol">< Visit Flexitol.co.uk</span></a>
            </li>
        </ul>
    </div>


    <div class="justify-content-center">
        <img class="navbar-brand mx-auto" src="~/Content/images/logo.png" alt="Flexitol Logo" />
    </div>


    <div class="collapse navbar-collapse ml-auto flex-md-row-reverse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="ml-md-3">
                <img src="~/Content/images/ig.png" alt="Facebook Icon" />
            </li>
            <li class="ml-md-3">
                <img src="~/Content/images/facebook.png" alt="Instagram Icon" />
            </li>
            <li class="ml-md-3">
                <img src="~/Content/images/twitter.png" alt="Twitter Icon" />
            </li>
        </ul>
    </div>
</nav>