@*

    <div class="banner-5-bg">
        <div class="container">
            <div class="row row-padding">
                <div class="col-md-8">
                    <div class="the-new-pedicure">
                        <p>The new pedicure taking the beauty industry by storm</p>
                    </div>
                    <div class="skincare-with-health">
                        <p>
                            Skincare with health at it's heart. Flexitol is recommended by doctors,
                            dermatologists and podiatrists.
                        </p>
                    </div>
                    <div>
                        <a class="btn learn-more" href="#">Learn More</a>
                    </div>
                </div>
                <div class="col-md-4 blob-img">
                    <img src="~/Content/images/blob.jpg" alt="Alternate Text" />
                    <p class="flexitol-reduces-wat">Flexitol reduces water loss from the skin</p>
                </div>
            </div>
        </div>
    </div>

*@

<div class="banner-5-bg">
    <div class="container cont-padding">
        <div class="row">
            <div class="col-md-7">
                <p class="the-new-pedicure">The new pedicure taking the beauty industry by storm</p>
            </div>
            <div class="col-md-5">
                <img class="blob-img" src="~/Content/images/blob.jpg" alt="Alternate Text" />
                <p class="skincare-with-health">Flexitol reduces water</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p class="skincare-with-health">Skincare with health at it's heart. Flexitol is recommended.</p>
            </div>
        </div>
    </div>
</div>