
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="product-carousel"
                 data-flickity='{ "groupCells": false, "wrapAround": true, "pageDots": false}'>

                <div class="product-carousel-cell mb-22" id="product-01">
                    <img src="~/Content/images/product-01.jpg" class="product-image-sizing" alt="Alternate Text1" />
                </div>

                <div class="product-carousel-cell" id="product-02">
                    <img src="~/Content/images/product-02.jpg" class="product-image-sizing" alt="Alternate Text2" />
                </div>

                <div class="product-carousel-cell" id="product-03">
                    <img src="~/Content/images/product-03.jpg" class="product-image-sizing" alt="Alternate Text3" />
                </div>

                <div class="product-carousel-cell" id="product-01">
                    <img src="~/Content/images/product-01.jpg" class="product-image-sizing" alt="Alternate Text4" />
                </div>

                <div class="product-carousel-cell" id="product-02">
                    <img src="~/Content/images/product-02.jpg" class="product-image-sizing" alt="Alternate Text5" />
                </div>

                <div class="product-carousel-cell" id="product-03">
                    <img src="~/Content/images/product-03.jpg" class="product-image-sizing" alt="Alternate Text6" />
                </div>

            </div>
        </div>
    </div>
</div>
