
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="product-carousel"
                 data-flickity='{ "groupCells": false, "wrapAround": true, "pageDots": false, "adaptiveHeight": true}'>

                <div class="product-carousel-cell mb-26" id="product-01">
                    <img src="~/Content/images/product-01.jpg" class="w-100" alt="Alternate Text1" />
                    <div class="text-center">
                        <h1 class="caption-title">Flexitol Heel Balm</h1>
                        <p class="caption-text">Highly effective medically proven skin nourishing treatment for dry and cracked feet, visible results in just one day</p>
                        <a href="#" class="caption-link submit-btn btn" role="button">Learn more</a>
                    </div>
                </div>

                <div class="product-carousel-cell mb-26" id="product-02">
                    <img src="~/Content/images/product-02.jpg" class="w-90" alt="Alternate Text2" />
                    <div class="text-center">
                        <h1 id="caption-title">Moisturising Foot Foam</h1>
                        <p id="caption-text">Fast acting and intensive treatment for very dry or dry skin</p>
                        <a id="caption-link" href="#" class="submit-btn btn caption-link" role="button">Learn more</a>
                    </div>
                </div>

                <div class="product-carousel-cell mb-26" id="product-03">
                    <img src="~/Content/images/product-03.jpg" class="w-90" alt="Alternate Text3" />
                    <div class="text-center">
                        <h1 class="caption-title"> Moisturising Foot Cream</h1>
                        <p class="caption-text">Enriched with Vitamin E, and Contains 10% Urea, in a richand highly concentrated base, to soften and hydrate very dry skin</p>
                        <a href="#" class="submit-btn btn caption-link" role="button">Learn more</a>
                    </div>
                </div>

                <div class="product-carousel-cell mb-26" id="product-01">
                    <img src="~/Content/images/product-01.jpg" class="w-90" alt="Alternate Text4" />
                    <div class="text-center">
                        <h1 class="caption-title">Flexitol Heel Balm</h1>
                        <p class="caption-text">Highly effective medically proven skin nourishing treatment for dry and cracked feet, visible results in just one day</p>
                        <a href="#" class="caption-link submit-btn btn" role="button">Learn more</a>
                    </div>
                </div>

                <div class="product-carousel-cell mb-26" id="product-02">
                    <img src="~/Content/images/product-02.jpg" class="w-90" alt="Alternate Text5" />
                    <div class="text-center">
                        <h1 id="caption-title">Moisturising Foot Foam</h1>
                        <p id="caption-text">Fast acting and intensive treatment for very dry or dry skin</p>
                        <a id="caption-link" href="#" class="submit-btn btn caption-link" role="button">Learn more</a>
                    </div>
                </div>

                <div class="product-carousel-cell mb-26" id="product-03">
                    <img src="~/Content/images/product-03.jpg" class="w-90" alt="Alternate Text6" />
                    <div class="text-center">
                        <h1 class="caption-title"> Moisturising Foot Cream</h1>
                        <p class="caption-text">Enriched with Vitamin E, and Contains 10% Urea, in a richand highly concentrated base, to soften and hydrate very dry skin</p>
                        <a href="#" class="submit-btn btn caption-link" role="button">Learn more</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>