

<div class="container-fluid">
    <div class="row">
        <!-- column for cloud-->
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <!-- carousel -->
            <div class="carousel">
                <div class="carousel-cell">
                    <img src="~/Content/images/product-01.jpg" />
                </div>
                <div class="carousel-cell">
                    <img src="~/Content/images/product-02.jpg"/>
                </div>
            </div>

            <!-- button -->
            <div class="button-group">
                <button class="button">1</button>
                <button class="button">2</button>
            </div>
        </div>
        <!-- column for cloud-->
        <div class="col-md-1"></div>
    </div>
</div>