
<div class="product-carousel"
     data-flickity='{ "groupCells": true, "wrapAround": true}'>
    <div class="product-carousel-cell"></div>
    <div class="product-carousel-cell"></div>
    <div class="product-carousel-cell"></div>
    <div class="product-carousel-cell"></div>
    <div class="product-carousel-cell"></div>
    <div class="product-carousel-cell"></div>
</div>