<div class="container-fluid">
    <div class="row" style="margin-top: 80px;">
        <div class="col-md-12 its-your-turn">
            <p>It's your turn to be pampered.</p>
            <p>Enter our competition to win a luxury spa day!</p>
        </div>
    </div>

    <div class="row" style="margin-top: 80px;">
        <div class="col-md-12 request-subtext">
            <p>We have developed the Flexitol Medi Pedi with you and your clients in mind– the step-by-step treatment is easy to follow and delivers results your clients can see and feel straight away.</p>
            <p>Want to know more? Request a free information pack and samples using the form below.</p>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-2"></div>

        <div class="col-lg-5">
            <img class="woman-spa-img img-fluid" src="~/Content/images/two-products.jpg" width="600" height="650" alt="Alternate Text" />
        </div>

        <div class="col-lg-4">
            @Html.Partial("~/Views/Partials/Form.cshtml")
        </div>

        <div class="col-lg-1"></div>

    </div>
</div>
