

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="request-pack-title">
                Request your Flexitol Medi Pedi salon pack today!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="request-subtext">We have developed the Flexitol Medi Pedi with you and your clients in mind– the step-by-step treatment is easy to follow and delivers results your clients can see and feel straight away.</p>
            <p class="request-subtext">Want to know more? Request a free information pack and samples using the form below.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" src="~/Content/images/two-products.jpg" alt="Alternate Text" />
        </div>

        <div class="col-md-6">
            @Html.Partial("~/Views/Partials/Form.cshtml")
        </div>
    </div>
</div>