<div class="container">
    <div class="row its-your-turn-row">
        <div class="col-md-12 text-center">
            <p class="its-your-turn">
                Request your Flexitol Medi Pedi salon pack today!
            </p>

            <p class="request-subtext">
                We have developed the Flexitol Medi Pedi with you and your clients in mind– the step-by-step treatment
                is easy to follow and delivers results your clients can see and feel straight away.
                Want to know more? Request a free information pack and samples using the form below.
            </p>

        </div>
    </div>

    <div class="row spa-and-form-row">
        <div class="col-lg-1">

        </div>

        <div class="col-lg-5">
            <img src="~/Content/images/two-products.jpg" width="465" height="500" alt="Alternate Text" />
        </div>

        <!-- form partial view -->
        <div class="col-lg-5">
            @Html.Partial("~/Views/Partials/Form.cshtml")
        </div>

        <div class="col-lg-1">
        </div>
    </div>
</div>
