@*
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 mt-5">
                <div class="main-carousel" data-flickity='{ "wrapAround": false, "cellAlign": "center", "prevNextButtons": false, "pageDots": true}'>
                    <div class="carousel-cell carousel-quote">
                        <img src="~/Content/images/quote.svg" alt="Alternate Text" />
                        <p class="testimony-text">I fell in love with Flexitol the first time I used it, the Flexitol Medi Pedi results speak for themselves!</p>
                        <p class="testimony-text">Jane | Salon Owner</p>
                    </div>
                    <div class="carousel-cell carousel-quote">
                        <img src="~/Content/images/quote.svg" alt="Alternate Text" />
                        <p class="testimony-text">Flexitol Heel Balm has changed the way I care for my feet, I now feel my feet are a great asset</p>
                        <p class="testimony-text">Wendy | Salon Customer</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-5">
                <img src="~/Content/images/both-testimony-models-1.JPG" class="img-fluid" alt="Alternate Text" />
            </div>
        </div>
    </div>
*@

@*
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">

                <!-- carousel -->
                <div class="gallery js-flickity">
                    <div class="gallery-cell">
                        <img src="~/Content/images/quote.svg" alt="Alternate Text" />
                        <p class="testimony-text">Flexitol Heel Balm has changed the way I care for my feet, I now feel my feet are a great asset</p>
                        <p class="testimony-subtext">Wendy | Salon Customer</p>
                    </div>
                    <div class="gallery-cell">
                        <img src="~/Content/images/quote.svg" alt="Alternate Text" />
                        <p class="testimony-text">Flexitol Heel Balm has changed the way I care for my feet, I now feel my feet are a great asset</p>
                        <p class="testimony-subtext">Wendy | Salon Customer</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <!-- button -->
                <div class="button-group">

                    <button class="button-image">
                        <img src="~/Content/images/smiling-doctor-woman.jpg" />
                    </button>

                    <button class="button-image">
                        <img src="~/Content/images/smiling-doctor-woman2.jpg" />
                    </button>

                </div>
            </div>

        </div>
    </div>
*@

    <div class="container">
        <div class="row mt-5">

            <div class="col-md-6">
                <div class="carousel mb-4" data-flickity='{ "prevNextButtons": false }'>
                    <div class="carousel-cell1">
                        <p class="testimony-text">I fell in love with Flexitol the first time I used it, the Flexitol Medi Pedi results speak for themselves!</p>
                        <p class="testimony-subtext">Wendy | Salon Customer</p>
                    </div>

                    <div class="carousel-cell1">
                        <p class="testimony-text">Flexitol Heel Balm has changed the way I care for my feet, I now feel my feet are a great asset</p>
                        <p class="testimony-subtext">Wendy | Teacher</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="button-group">
                        <img src="~/Content/images/smiling-medical-woman1.jpg" id="first" class="img-fluid medical-woman medium-first-stack-image button" alt="medical person" />
                        <img src="~/Content/images/quote-image-02.png" id="second" class="img-fluid medical-woman medium-second-stack-image button" alt="medical person" />
                </div>
            </div>
        </div>
    </div>