
<div class="container">
    <div class="row mt-5">

        <div class="col-md-6">
            <div class="carousel mb-4" data-flickity='{ "prevNextButtons": false }'>
                <div class="carousel-cell1">
                    <p class="md-grey-font">I fell in love with Flexitol the first time I used it, the Flexitol Medi Pedi results speak for themselves!</p>
                    <p class="sm-grey-font">Jane | Salon Owner</p>
                </div>

                <div class="carousel-cell1">
                    <p class="md-grey-font">Flexitol Heel Balm has changed the way I care for my feet, I now feel my feet are a great asset</p>
                    <p class="sm-grey-font">Sarah | Teacher</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="button-group">
                <img src="~/Content/images/smiling-medical-woman1.jpg" id="first" class="img-fluid medical-woman medium-first-stack-image button img-selected" alt="medical person" />
                <img src="~/Content/images/quote-image-02.png" id="second" class="img-fluid medical-woman medium-second-stack-image button img-unselected" alt="medical person" />
            </div>
        </div>
    </div>
</div>