
<div class="row row-padding2">
    <div class="col-md-4 testimony-text">
        <p>I fell in love with Flexitol the first time I used it, the Flexitol Medi Pedi results speak for themselves!</p>
        <p style="font-size: 13px;">Jane | Salon owner</p>
    </div>
    <div class="col-md-6">
        <img src="~/Content/images/quote.svg" class="testimony-speech-marks-img" alt="Speech Marks" />
        <img src="~/Content/images/smiling-doctor-woman2.jpg" class="doctors-img2" height="300" width="220" alt="Second medical woman" />

        <img src="~/Content/images/smiling-doctor-woman.jpg" class="doctors-img1" height="300" width="250" alt="First medical woman" />

    </div>
    <div class="col-md-2">
        
    </div>
</div>