
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 mt-5">
            <img src="~/Content/images/quote.svg" alt="Alternate Text" />
            <p class="testimony-text">I fell in love with Flexitol the first time I used it, the Flexitol Medi Pedi results speak for themselves!</p>
            <p class="testimony-text">Jane | Salon Owner</p>
        </div>

        <div class="col-md-6">
            <img src="~/Content/images/smiling-doctor-woman.jpg" class="smiling-doctor-woman img-fluid mx-auto d-block" alt="Alternate Text" />
        </div>
    </div>
</div>
