bin/roslyn/VBCSCompiler.exe
bin/roslyn/System.ValueTuple.dll
bin/roslyn/System.Security.Cryptography.Primitives.dll
bin/roslyn/System.Reflection.Metadata.dll
bin/roslyn/System.IO.FileSystem.dll
bin/roslyn/System.IO.FileSystem.Primitives.dll
bin/roslyn/System.IO.Compression.dll
bin/roslyn/System.Collections.Immutable.dll
bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
bin/roslyn/Microsoft.CodeAnalysis.dll
bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
