* {
    box-sizing: border-box;
}

.product-carousel-cell {
    width: 26%;
    height: 200px;
    counter-increment: product-carousel-cell;
}


.flickity-prev-next-button.previous {
    left: 670px;
}

.flickity-prev-next-button.next {
    right: 670px;
}

.flickity-prev-next-button {
    top: 250px;
}

.flickity-prev-next-button {
    background: transparent;
    height: 60px;
    width: 60px;
}

    .flickity-prev-next-button:hover {
        background: transparent;
    }
    /* arrow color */
    .flickity-prev-next-button .arrow {
        fill: #d8d8d8;
    }

    .flickity-prev-next-button.no-svg {
        color: white;
    }
    /* hide disabled button */
    .flickity-prev-next-button:disabled {
        display: none;
    }

/* external css: flickity.css */


.op-0 {
    opacity: 0;
}

.op-1 {
    opacity: 1;
}

.w-90 {
    width: 80%;
}

.width-100 {
    width: 110%;
}