
.product-carousel-cell {
    width: 26%;
    height: 200px;
    counter-increment: product-carousel-cell;
}


.flickity-prev-next-button.previous {
    left: 36%;
}

.flickity-prev-next-button.next {
    right: 34%;
}

.flickity-prev-next-button {
    top: 250px;
}

.flickity-prev-next-button {
    background: transparent;
    height: 60px;
    width: 60px;
}

    .flickity-prev-next-button:hover {
        background: transparent;
    }
    /* arrow color */
    .flickity-prev-next-button .arrow {
        fill: #d8d8d8;
    }

/* external css: flickity.css */


.op-0 {
    opacity: 0;
}

.op-1 {
    opacity: 1;
}

.w-90 {
    width: 80%;
}

.w-100 {
    width: 110%;
}