body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Navbar*/
.mask {
    background-color: #809293;
    width: 1920px;
    height: 77px;
}

.visit-flexitol-font {
    width: 202px;
    height: 26px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.69;
    letter-spacing: normal;
    color: #ffffff;
    padding-top: 20px;
}

.visit-flexitol {
    margin-left: 170px;
}

.socials {
    margin-right: 170px;
}

.social-item {
    margin: 5px, 10px, 5px, 10px;
}

.Visit-Flexitolcouk:hover {
    color: #ffffff
}

.Visit-Flexitolcouk:link {
    text-decoration: none
}

.no-bullet {
    list-style-type: none;
}

.navbar-bg {
    background-color: #809293;
}

.render-image-background {
    background-image: url("images/flexitol-hero-doctorpatient-v-2@2x.png");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.salon-logo {
    padding-top: 1%;
}

.introducing-medi-pedi {
    padding-top: 350px;
    font-family: Oxygen;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #809293;
}

.introducing-medi-pedi1 {
    font-family: Oxygen;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #809293;
}

.first-step-towards {
    font-family: OpenSans;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.69;
    letter-spacing: 5px;
    text-align: center;
    color: #0499ff;
}

.its-your-turn-row {
    margin-top: 15%;
}

.its-your-turn {
    width: 996px;
    height: 112px;
    font-family: Oxygen;
    font-size: 44px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: center;
    color: #0499ff;
}

.skincare-badge {
    padding-top: 100px;
}

.spa-and-form-row {
    margin-top: 30px;
}

.ten-medi-pedi-kits {
    font-family: Oxygen;
    font-size: 30px;
    text-align: center;
    color: #809293;
    margin-top: 10px;
}

.rm {
    margin-top: -20px;
}

.share-comp {
    font-size: 18px;
    color: #0499ff;
    text-align: center;
}

.twitter-icon {
    margin-left: 10px;
}

.form {
    margin-top: 30px;
    margin-left: 30px;
}

.terms-conditions-label {
    font-size: 10px;
    color: #809293;
}

.submit-btn {
    border-radius: 24px;
    background-color: #0499ff;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border: none;
    padding: 10px 42px;
}

.forward {
    background-image: url("/Content/images/forward.svg");
}

.backward {
    background-image: url("/Content/images/back.svg");
}

.row-padding {
    margin-top: 40px;
}

.row-padding2 {
    margin-top: 100px;
}

.doctors-img1 {
    position: absolute;
    left: 50px;
}

.doctors-img2 {
    position: absolute;
    left: 230px;
}

.testimony-text {
    font-family: Oxygen;
    font-size: 16px;
    line-height: 1.53;
    color: #809293;
    margin-top: 150px;
    margin-left: 120px;
}

.testimony-speech-marks-img {
    margin-right: 150px;
    margin-left: -320px;
    margin-top: 80px;
}

.banner-5-bg {
    background-image: url("images/hero-banner-foot-pointing-left.jpg");
    height: 600px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-size: 1100px;
}

.the-new-pedicure {
    width: 600px;
    font-family: Oxygen;
    font-size: 44px;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #0499ff;
    margin-top: 200px;
}

.skincare-with-health {
    width: 466px;
    height: 48px;
    font-family: Oxygen;
    font-size: 18px;
    color: #809293;
}

.learn-more {
    border-radius: 24px;
    background-color: #0499ff;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin: 27px 1px;
    border: none;
    padding: 10px 42px;
}

.blob-img{
    margin-top: 170px;
}

.flexitol-reduces-wat {
    width: 228px;
    height: 133px;
    font-family: Oxygen;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #809293;
    margin-left: -80px;
}