body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Navbar*/
.mask {
    background-color: #809293;
    width: 1920px;
    height: 77px;
}

.visit-flexitol-font {
    width: 202px;
    height: 26px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.69;
    letter-spacing: normal;
    color: #ffffff;
    padding-top: 20px;
}

.visit-flexitol {
    margin-left: 170px;
}

.socials {
    margin-right: 170px;
}

.social-item {
    margin-right: 10px;
}

.Visit-Flexitolcouk:hover {
    color: #ffffff
}

.Visit-Flexitolcouk:link {
    text-decoration: none
}

.no-bullet {
    list-style-type: none;
}

.navbar-bg {
    background-color: #809293;
}

.render-image-background {
    background-image: url("images/flexitol-hero-doctorpatient-v-2.png");
    background-color: #cccccc;
    height: 900px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.salon-logo {
    margin-top: 1%;
    margin-right: 3%;
}

.introducing-medi-pedi {
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: normal;
    color: #809293;
    text-align: center;
}

.introducing-medi-pedi1 {
    font-family: Oxygen;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #809293;
}

.first-step-towards {
    font-family: OpenSans;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.69;
    letter-spacing: 5px;
    text-align: center;
    color: #0499ff;
}

.its-your-turn-row {
    margin-top: 7%;
}

.flexitol-medi-p {
    font-size: 30px;
    line-height: 1.4;
    text-align: center;
    color: #809293;
}

.its-your-turn {
    font-size: 44px;
    line-height: 1.23;
    text-align: center;
    color: #0499ff;
}

.request-subtext {
    font-size: 18px;
    line-height: 1.23;
    text-align: center;
    color: #809293;
}

.skincare-badge {
    padding-top: 100px;
}

.woman-spa-img {
    margin-left: 20%
}

.spa-and-form-row {
    margin-top: 30px;
}

.ten-medi-pedi-kits {
    font-family: Oxygen;
    font-size: 30px;
    text-align: center;
    color: #809293;
    margin-top: 10px;
}

.rm {
    margin-top: -20px;
}

.share-comp {
    font-size: 18px;
    color: #0499ff;
    text-align: center;
}

.twitter-icon {
    margin-left: 10px;
}

.form {
    margin-top: 30px;
    margin-left: 30px;
}

.terms-conditions-label {
    font-size: 10px;
    color: #809293;
}

.submit-btn {
    border-radius: 24px;
    background-color: #0499ff;
    color: #ffffff;
    margin: 4px 2px;
    border: none;
    padding: 10px 42px;
}

.forward {
    background-image: url("/Content/images/forward.svg");
}

.backward {
    background-image: url("/Content/images/back.svg");
}

.row-padding {
    margin-top: 10%;
}

.row-padding2 {
    margin-top: 100px;
}


.doctors-img2 {
    position: absolute;
    left: 230px;
}

.testimony-text {
    font-size: 30px;
    line-height: 1.53;
    color: #809293;
}

.testimony-subtext {
    font-size: 16px;
    color: #809293;
}

.testimony-speech-marks-img {
    margin-right: 150px;
    margin-left: -320px;
    margin-top: 80px;
}

.pedicure-bg {
    background-image: url("images/pedicure-bg.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 32%;
    margin-bottom: 5%;
}

.smiling-doctor-woman {
    height: 80%;
}


.the-new-pedicure {
    font-size: 44px;
    color: #0499ff;
}

.skincare-with-health {
    font-size: 18px;
    color: #809293;
}

.learn-more {
    border-radius: 24px;
    background-color: #0499ff;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin: 27px 1px;
    border: none;
    padding: 10px 42px;
}

.flexitol-reduces-wat {
    font-size: 20px;
    line-height: 1.5;
    color: #809293;
}

.the-new-ped-cont {
    margin-left: 40%;
    margin-top: 17%;
    width: 50%;
}

.footer {
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: #00557c;
    color: white;
    text-align: center;
}

.footer2 {
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #00354d;
    color: white;
    text-align: center;
}

.Keep-your-feet-happy {
    width: 200px;
    height: 21px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-align: left;
}

.Sign-up-to-receive {
    width: 300px;
    height: 16px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-align: left;
}

.footer-col-1 {
    margin-top: 60px;
    border-right: white;
    border-right: solid;
}

.Read-more {
    width: 72px;
    height: 19px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-align: left;
    margin-right: 76%;
}

.btm-link {
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 10px;
    color: white;
}

.request-pack-title {
    font-size: 44px;
    text-align: center;
    color: #0499ff;
}
.blob {
    margin-top: 30%;
    margin-left: 10%;
}

.carousel-caption-heading {
    font-size: 30px;
    color: #809293;
}

.carousel-caption-subheading {
    font-size: 16px;
    color: #809293;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


.left-cloud {
    margin-top: -100%;
    margin-left: -10%;
}

.right-cloud {
    margin-top: -50%;
}

.carousel-quote {
    width: 100%;
}

.competition-flowers-background {
    background-image: url("images/competition-flowers-2.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.gallery-cell {
    width: 100%;
    height: 200px;
    margin-right: 10px;
    counter-increment: gallery-cell;
}

/* carousel */
* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.carousel {
    background: #FAFAFA;
}

.carousel-cell1 {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

    /* cell number */
    .carousel-cell1:before {
        display: block;
        text-align: center;
        content: counter(carousel-cell);
        line-height: 200px;
        font-size: 80px;
        color: white;
    }

.button {
    font-size: 22px;
}

.button-group {
    margin-bottom: 20px;
}
