/* carousel */

.carousel-cell1 {
    width: 100%;
    margin-right: 10px;
}

    /* cell number */
    .carousel-cell1:before {
        display: block;
    }

.medium-first-stack-image {
    width: 200px;
    position: relative;
}

.medium-second-stack-image {
    width: 270px;
    position: relative;
    margin-left: -80px;
    margin-bottom: 9px;
}

.img-selected {
    z-index: 2;
}

.img-unselected {
    z-index: 1;
    filter: grayscale(100%);
}
